{% for group in group_names %}
{% for host in groups[group] %}
define host {
  use generic-host
  host_name {{ hostvars[host]['ansible_fqdn'] }}
  address {{ hostvars[host]['ansible_eth0']['ipv4']['address'] | default('127.0.0.1') }}
  max_check_attempts 5
  check_command check-host-alive
  contact_groups admins
}
{% endfor %}
{% endfor %}
